/* Filter Container */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* Dropdown styles */
.filter-container .form-group {
  flex: 1;
  min-width: 200px; /* Minimum width for large screens */
}

/* Responsive Design for Filter Container */
@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
  }

  .filter-container .form-group {
    min-width: 100%; /* Ensure full width on small screens */
    margin-bottom: 1rem; /* Spacing between dropdowns */
  }
}

/* Select element styles */
.filter-container .form-group select {
  width: 100%; /* Make dropdowns full width */
  padding: 0.5rem; /* Add padding for better usability */
  box-sizing: border-box; /* Include padding in width */
}

.options{
  width: 50%;
}

/* Ensure responsiveness for small devices */
@media (max-width: 576px) {
  .filter-container .form-group select {
    font-size: 0.875rem; /* Adjust font size for smaller screens */
  }
}
