/* src/css/Navbar.css */
.navbar-custom {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  margin-left: 15px;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f0f0f0;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.button-logout {
  margin-left: 20px;

}
